nav {
  width: 25%;
  height: 100%;
  position: fixed;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 3px 3px black;
}
.brew-main {
  margin-left: 25%;
  padding: 1px 16px;
  height: 100%;
}
